<% if start - resolution >= 0 || start + resolution <= size %>
	<p class='pagination'>
	  <% if start - resolution >= 0 %>
	    <a href="<%= current_page %>?start=<%= start - resolution %>" class='less'>&laquo; less</a>
	  <% end %>
	  <% if start + resolution < size %>
	    <a href="<%= current_page %>?start=<%= start + resolution %>" class='more'>more &raquo;</a>
	  <% end %>
	</p>
<% end %>